### 튜플 문제

In [ ]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [1]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [2]:
my_tuple = (1)
print(type(my_tuple))

<class 'int'>

In [3]:
my_tuple1 = (1, )
print(type(my_tuple1))

<class 'tuple'>

In [6]:
t = (1, 2, 3)
t[0] = 'a'

# 튜플은 원소값 수정할 수 없음.

TypeError: 'tuple' object does not support item assignment

In [8]:
t = ('A', 'B', 'C')
print(type(t))

<class 'tuple'>

In [11]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

data = list(interest)
print(data)
print(type(data))

['삼성전자', 'LG전자', 'SK Hynix']
<class 'list'>

In [13]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']

data = tuple(interest)

print(type(data))
print(data)

<class 'tuple'>
('삼성전자', 'LG전자', 'SK Hynix')

In [14]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
# 언팩킹

apple banana cake

In [17]:
(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

data = tuple(range(2, 21, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)